
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.register-text {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.register-text a {
  color: #4a90e2;
  cursor: pointer;
  text-decoration: none;
  margin-left: 4px;
}

.register-text a:hover {
  text-decoration: underline;
}


.title {
  position: absolute;
  top: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 100%;
}


/* Login card */
.login-box {
  width: 350px;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #356bb3;
}

.login-box span {
  color: red;
}

/* Error */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  /* space for eye icon */
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.eye-icon:hover {
  color: #000;
}